div.actions {
	top: 0px;
	right: 0px;
	position: absolute;
}

#content {
	margin-bottom: 20px;
}


#finished {
	display: inline-flex;
}

#finished.finished {
	display: none;
}

.Study {
	min-height: 40px;
	/* border: 0.5px solid lightblue; */
	border-right: 0.5px solid #222;
	position: relative;
	/* display: inline-flex;
    flex-direction: row; */
	margin-top: 1px;
	padding-top: 6px;
	padding-left: 2px;
	overflow-x: auto;
	background-color: black;
}

#content div.Study {
	background: no-repeat;
	background-position: right 0px center;
	background-origin: content-box;
	background-size: 40px auto;
	background-image: url('../images/placeholder_person_dark.svg?_=88');
	padding-right: 0px;
	background-color: black;
}

#content div.Study div.bottom-back {
	font-size: 10px;
	color: #222;
	position: absolute;
	bottom: 0px;
	right: 45px;
	z-index: 0;
}

#content div.Study div.bottom-back-event {
	font-size: 8px;
	color: #222;
	position: absolute;
	bottom: 10px;
	right: 45px;
	z-index: 0;
}

.Series {
	position: relative;
	height: 32px;
	width: 32px;
	margin-top: 0px;
	margin-right: 1px;
	margin-bottom: 1px;
	margin-left: 0px;
	border: 0.5px solid #222;
	border-radius: 2px;
	-webkit-transition: border 500ms ease-out;
	-moz-transition: border 500ms ease-out;
	-o-transition: border 500ms ease-out;
	transition: border 500ms ease-out;
	overflow: hidden;
	user-select: none;
	/* CSS3 (little to no support) */
	-ms-user-select: none;
	/* IE 10+ */
	-moz-user-select: none;
	/* Gecko (Firefox) */
	-webkit-user-select: none;
	/* Webkit (Safari, Chrome) */
	background-color: grey;
	color: yellow;
	display: inline-block;
}

.Series.highlighted-human-a {
	border: 0.5px solid #91cf60;
}

.Series.highlighted-human-b {
	border: 0.5px solid #fc8d59;
}

.Series.a {
	border: 0.5px solid #91cf60;
	color: #91cf60;
}

.Series.highlighted-human-a img {
	filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(45deg);
}

.Series.b {
	border: 0.5px solid #fc8d59;
	color: #fc8d59;
}

.Series.highlighted-human-b img {
	filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(300deg);
}

.Series div.modality {
	position: absolute;
	top: -1px;
	left: 1px;
	font-size: 6px;
	z-index: 1;
}

.Series div.numImages {
	position: absolute;
	top: 0px;
	right: 1px;
	font-size: 5px;
	z-index: 1;
}

.Series div.SeriesDescription {
	position: absolute;
	bottom: 0px;
	left: 1px;
	font-size: 5px;
	white-space: nowrap;
	z-index: 1;
}

.Series div.SeriesNumber {
	position: absolute;
	bottom: 6px;
	right: 1px;
	font-size: 5px;
	white-space: nowrap;
	z-index: 1;
}

.Series image {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 0;
}

.sub-heading-1 {
	background-color: #67a9cf;
	padding-left: 5px;
}

.sub-heading-2 {
	background-color: #91cf60;
	padding-left: 5px;
	position: relative;
}

/* scroll bars */
#content-selected ::-webkit-scrollbar {
	width: 12px;
}

#content-selected ::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(200, 200, 200, 1);
	border-radius: 10px;
}

#content-selected ::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #fff;
	-webkit-box-shadow: inset 0 0 6px rgba(90, 90, 90, 0.7);
}
.ac_results {
	background-color: gray;
}
.acInput {
	width: 200px;
}

.acResults {
	padding: 0px;
	border: 1px solid WindowFrame;
	background-color: Window;
	overflow: hidden;
	background-color: white;
	overflow: hidden;
	text-align: left;
	z-index: 99999;
}

.acResults ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: left;
}

.acResults li {
	margin: 0px;
	padding: 2px 5px;
	cursor: pointer;
	display: block;
	width: 100%;
	font: menu;
	font-size: 12px;
	overflow: hidden;
	text-align: left;
}

.acLoading {
	background: Window url('./indicator.gif') right center no-repeat;
}

.acSelect {
	background-color: Highlight;
	color: HighlightText;
}

.ac_results {
	padding: 0px;
	border: 1px solid WindowFrame;
	background-color: white;
	overflow: hidden;
	text-align: left;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: left;
}

.ac_results iframe {
	display: none;
	/*sorry for IE5*/
	display
	/**/
	: block;
	/*sorry for IE5*/
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	filter: mask();
	width: 3000px;
	height: 3000px;
	text-align: left;
}

.ac_results li {
	margin: 0px;
	padding: 4px 5px;
	cursor: pointer;
	display: block;
	width: 100%;
	font: menu;
	font-size: 12px;
	overflow: hidden;
	text-align: left;
}

.ac_loading {
	background: Window url('./indicator.gif') right center no-repeat;
}

.ac_over {
	background-color: #3875d7;
	color: HighlightText;
}

.result_row {
	width: 40%;
}

.result_term {
	width: 150px;
	float: left;
}

.result_term_highlight {
	color: #006600;
}

.ac_over .result_term_highlight {
	color: #B3D0B2;
}

.result_type {
	font-family: Lucida Console, Monaco, monospace;
	font-size: 9px;
	color: gray;
	display: inline-block;
	padding-right: 10px;
	width: 90px;
	float: left;
	line-height: 15px;
}

.ac_over .result_type {
	color: white;
}

.result_ontology {
	font-family: Lucida Console, Monaco, monospace;
	color: gray;
	font-size: 9px;
	margin-left: 2em;
	line-height: 15px;
}

.ac_over .result_ontology {
	color: white;
}

.result_definition {
	font-family: Lucida Console, Monaco, monospace;
	color: gray;
	float: right;
	width: 440px;
	font-size: 9px;
	margin: 0px 10px;
	position: relative;
	top: 2.5px;
}

.ac_over .result_definition {
	color: white;
}

.long_text {
	display: none;
}

.expand_icon {}

.ac_over span.long_text {
	display: inline;
}

.ac_over span.expand_icon {
	display: none;
}
